.container {
    border: 1px solid goldenrod;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.product {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.product:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
/* 1024px */

@media screen and ( max-width: 800px ) {
    .container {
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }    
}